.message-div {
    height: 80px;
    width: 100%;
    border-top: 1px solid #d3d3d3;
    margin-top: 30px;
    padding: 15px;
    padding-top: 43px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 12px;
}

.message-content{
    width: 33.3%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
    font-size: 15px;
    font-weight: 700;
}

.xer {
    float: right;
}

.test-class {
    background-color: #d3d3d3;
    position: fixed;
    width: 65vw;
    height: 47vh;
    border: 1px solid #d3d3d3;
    margin-top: 10px;
    padding: 15px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    // background-image: url('../../assets/hounds-tooth.jpg');
    // background-position: center;
    // background-size: contain;
}

.message-input {
    width: 60vw;
    height: 30vh;
}

.ui.segment {
    position: absolute;
    width: 100%;
}

textarea {
    outline: none;
    resize:none;
}

.ui.button, .ui.buttons .button, .ui.buttons .or {
    background-image: url('../../assets/message-button-background.jpeg');
    background-position: 270px 200px;
    background-size: 270px;
    color: #fff;
    width: 65px;
    height: 30px;
    font-size: 11px;
    padding-right: 18px;
    text-align: center;
    transition: .4s ease-out;
}

.ui.button:hover {
    background-color: #ff9595;
    color: #fff;
}

.message-container-blur {
    filter: blur(4px);
}