
.large-card {
    margin: 0 auto !important;
    width: 300vw !important;
    max-width: 600px !important;
    margin-top: 85px !important;
    margin-bottom: 85px !important;
    
    .ui.image {
        max-width: 450px;
        max-height: 450px;
        min-width: 200px;
        min-height: 200px;
        margin: 0 auto;
        height: 60vh;
        padding: 10px;
        background-color: #fff;
    }

}

i.icon:hover {
    font-size: 1.1em;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2)
}

.message-modal-header {
    margin-top: -5px !important;
}

.side-bar {
    margin-top: 85px;
    margin-left: -53px;
}

.button-div {
    margin: 10px;

    .ui.button, .ui.buttons .button, .ui.buttons .or {
        font-size: 1rem;
        width: 100%;
        height: 50px;
        margin-left: 0px;
    }
}

.icon-button {
    border: none;
    background-color: #fff;
}

.icon-div {
    margin-left: 6px;
}

.description {
    height: 100px;
    margin-left: 10px;
    margin-top: 35px;
}

.thumbnail>img {
    height: 100%;
    width: 100%;
}

.thumbs-column {
    margin: -60px auto;
    margin-left: 16%;
}

.thumbs-row {
    margin: 0 auto;
}

.thumbnails {
    width: 20%;
    margin-left: 10px;
    float: left;
    height: 100px;
}

.price {
    height: 50px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 25px;
    margin-top: -12px;
}

.seller {
    height: 100px;
    margin-left: 10px;
    margin-top: -12px;
}

.heading {
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 30px;
}

@media(max-width: 990px) {
    .large-card {
        margin: 0 auto !important;
        width: 300vw !important;
        max-width: 600px !important;
        margin-top: 85px !important;
    
        .ui.image {
            max-width: 450px;
            margin: 0 auto;
            height: 40vh;
            width: 45vw;
            padding: 10px;
            background-color: #fff;
        }
    
    }

    .icon-div {
        margin-left: 5.5vw;
    }

    .button-div {
        margin: 10px;
    
        .ui.button, .ui.buttons .button, .ui.buttons .or {
            font-size: 1rem;
            width: 31vw;
            height: 50px;
            margin-left: 5.2vw;
        }
    }

    .heading {
        margin-left: 6.2vw;
        margin-bottom: 10px;
        font-weight: 300;
        font-size: 30px;
    }

    .description {
        height: 100px;
        margin-left: 6.2vw;
        margin-top: 50px;
    }
    
    .price {
        height: 50px;
        margin-left: 6.2vw;
        margin-bottom: 20px;
        font-size: 25px;
    }
    
    .seller {
        height: 100px;
        margin-left: 6.2vw;
        margin-top: 2px;
    }

    .thumbnails {
        width: 20%;
        margin-left: 10px;
        float: left;
        height: 100px;
    }

    .thumbs-column {
        margin: 20px auto;
        margin-left: -2%;
    }

    .side-bar {
        margin-top: 25px;
    }
}

@media(max-width:610px) {
    .large-card {
        margin: 0 auto !important;
        width: 90vw !important;
        max-width: 600px !important;
        margin-top: 85px !important;
    
        .ui.image {
            max-width: 450px;
            margin: 0 auto;
            height: 40vh;
            width: 50vw;
            padding: 10px;
            background-color: #fff;
        }
    
    }

    .icon-div {
        margin-left: 15.3vw;
    }

    .ui.card {
        margin: 1em 0;
        margin-left: 20px;
    }

    .test-class {
        background-color: #d3d3d3;
        position: fixed;
        width: 90vw;
        height: 46vh;
        border: 1px solid #d3d3d3;
        margin-top: 10px;
        padding: 15px;
        border-radius: 2px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .message-input {
        width: 80vw;
        height: 30vh;
    }

    .button-div {
        margin: 10px;
    
        .ui.button, .ui.buttons .button, .ui.buttons .or {
            font-size: 1rem;
            width: 90vw;
            height: 50px;
            margin-left: 14%;
        }
    }

    .heading {
        margin-left: 17%;
        margin-bottom: 10px;
        font-weight: 300;
        font-size: 30px;
    }

    .description {
        height: 100px;
        margin-left: 16%;
        margin-top: 50px;
    }
    
    .price {
        height: 50px;
        margin-left: 16%;
        margin-bottom: 20px;
        font-size: 25px;
    }
    
    .seller {
        height: 100px;
        margin-left: 16%;
        margin-top: 2px;
    }

    .col-xs-12 {
        margin-top: -40px;
    }

}

@media(max-width: 445px) {
    .test-class {
        height: 53vh;
    }

    .thumbnails {
        width: 20%;
        margin-left: 10px;
        float: left;
        height: 50px;
    }

    .thumbs-column {
        margin: 20px auto;
        margin-left: 2%;
    }

    .side-bar {
        margin-top: 25px;
    }
}