.small-listing-container1 {
    margin: 0 auto;
    max-width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

@media(min-width: 1210px) {
    .small-listing-container1 {
        justify-content: none;
    }
}