@import url('https://fonts.googleapis.com/css?family=Montserrat');

$header-black: #000000;
$header-secondary: #9b9b9b;
$header-red: #ed1c24;
$font-stack: Helvetica, sans-serif;

.navbar-default {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: #000000 !important;
    background-color: white;
    border: none;
}

.header-title {
    letter-spacing: 7px;
    font-weight: 900;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #000000 !important;
}

.sub-header-links {
    display: flex;
    justify-content: center;

    li {
        list-style: none;
        margin-left: 30px;
        font-size: 12px;
        color: #9b9b9b;
        margin-bottom: 30px;
    }
}

.h-out:hover {
    color: #000000;
    cursor: pointer;
}
.h-top:hover {
    color: #000000;
    cursor: pointer;
}
.h-bot:hover {
    color: #000000;
    cursor: pointer;
}
.h-foot:hover {
    color: #000000;
    cursor: pointer;
}
.h-snea:hover {
    color: #000000;
    cursor: pointer;
}
.h-acce:hover {
    color: #000000;
    cursor: pointer;
}



.outerwear-list {
    list-style: none;

    li {
        margin-bottom: 10px;
        margin-left: 3px;
    }
}



.show {
    margin-top: -20px;
    z-index: 100;
    width: 100%;
    height: 400px;
    opacity: 1;
    background-color: #fff;
    border: 1px solid black;
    position: absolute;
    transition: all .4s ease-in-out;
    overflow: hidden
}

.testclas7 {
    opacity: 0;
    height: 0;
}


@keyframes fader{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.menu-column {
    text-align: left;
}

.menu-header12 {
    padding-top: 180px;
    color: #fff;
    font-size: 20px;
}

.second-nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: 23%;
    margin-right: 23%;
    font-size: 11px;
    color: #9b9b9b;    
}

.tinter {
    background-color: rgba(97, 97, 97, 0.5);
    width: 100%;
    height: 368px;
}

.tinter1 {
    background-color: rgba(97, 97, 97, 0.5);
    width: 100%;
    height: 361px;
    margin-top: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

.header-search {
    margin-top: 12px;
    margin-left: 10vw;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.login-signup {
   display: inline-block;
   margin-top: 18px;
   color: #9b9b9b;
}

@media(max-width: 1660px) {
    .second-nav {
        margin-left: 18%;
        margin-right: 18%;
    }
}

@media(max-width: 1300px) {
    .second-nav {
        margin-left: 11%;
        margin-right: 11%;
    }
}

@media(max-width: 990px) {
    .second-nav {
        margin-left: 13%;
        margin-right: 13%;
    }
}

@media(max-width: 770px) {

    .login-signup {
        display: inline-block;
        margin-top: 18px;
        color: #9b9b9b;
        margin-left: 17px;
     }

    .second-nav {
        flex-direction: column;
        margin-left: 17px;
        margin-right: 0px;
        a {
            margin-top: 10px;
        }
    }
    .header-title {
        letter-spacing: 7px;
        font-weight: 900;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        color: #000000 !important;
    }
} 



