.small-listing-container1 {
  margin: 0 auto;
  max-width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap; }

.button-holder {
  margin-top: -19px;
  margin-left: 19px; }
  .button-holder .btn-danger {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 302px; }

.mygrails-holder .ui.card {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.remove-button {
  margin-top: 10px;
  z-index: 1000; }

.my-grails-heading {
  margin-bottom: 50px;
  text-align: center; }

.ui.card {
  margin: 1em 0;
  margin-left: 20px; }

.listings {
  display: flex;
  justify-content: space-between; }

.ui.card:first-child {
  margin-top: 30px; }

@media (min-width: 1210px) {
  .small-listing-container1 {
    justify-content: none; } }

@media (max-width: 990px) {
  .listings {
    display: block; }
  .ui.card {
    float: left; } }

@media (max-width: 680px) {
  .listings {
    display: flex; }
  .button-holder {
    margin-top: -26px !important;
    margin-left: 19px; }
    .button-holder .btn-danger {
      margin-top: -26px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      width: 302px; } }

@media (max-width: 600px) {
  .listings {
    display: block; } }
