.small-listing-container1 {
    margin: 0 auto;
    max-width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.remove-button {
    margin-top: 10px;
}

.my-grails-heading {
    margin-bottom: 50px;
    text-align: center;
}

// .ui.card>.image, .ui.cards>.card>.image {
//     height: 250px;
// }

.ui.card {
    margin: 1em 0;
    // float: left;
    margin-left: 20px;
}

.listings {
    display: flex;
    justify-content: space-between;
}

.ui.card:first-child {
    margin-top: 30px;
}

@media(min-width: 1210px) {
    .small-listing-container1 {
        justify-content: none;
    }
}

@media(max-width: 990px) {
    .listings {
        display: block;
    }

    .ui.card {
        float: left;
    }
}

@media(max-width: 680px) {
    .listings {
        display: flex;
    }
}

@media(max-width: 600px) {
    .listings {
        display: block;
    }
}